<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Add Budget</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form>
            <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label position="floating">Budget</ion-label>
                        <ion-input type="number" #budget required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="primary" (click)="addBudget(budget)">Add Budget</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Any Increments!?</ion-label>
                        <ion-input type="number" #incbudget required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="primary" (click)="addIncrement(incbudget)">Add Increment</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>