<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Add Budget</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form>
            <ion-row>
                <ion-col>
                    <ion-label position="floating">Budget</ion-label>
                    <ion-input type="text" #budget></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-text>Any Increments!?</ion-text>
                    <ion-label position="floating">Increased Budget</ion-label>
                    <ion-input #incbudget></ion-input>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>