<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Your Scribbles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let item of data1 | async">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Scribbled on {{item.key}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{ item.mom | json }}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text *ngIf="data2.length!=0">Your Gallery</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-slides pager="true" [options]="slideOpts" id="photo">
                <ion-slide *ngFor="let item of data2">
                    <img [src]="item" />
                </ion-slide>
            </ion-slides>
        </ion-row>
        <ion-row>
            <ion-slides pager="true" [options]="slideOpts1" id="video">
                <ion-slide *ngFor="let item of data3">
                    <video [src]="item" height="200" width="280" autoplay controls></video>
                </ion-slide>
            </ion-slides>
        </ion-row>
    </ion-grid>
</ion-content>