<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Personal Diary</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            <img src="../../assets/images/black-and-white-blur-close-up-lock-411227.jpg" /> Personal Diary
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-text>Feeling lazy to write diary? Don't worry here is your go-to diary. Capture all your emotions, memories and every exciting stuff you had.</ion-text>
                        <ion-buttons>
                            <ion-button color="primary" [routerLink]="['/writepersonaldiary']">Write For Today</ion-button>
                        </ion-buttons>
                        <ion-buttons>
                            <ion-button color="secondary" [routerLink]="['/readpersonaldiary']">See your Previous Writings</ion-button>
                        </ion-buttons>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>