<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-card>
                    <ion-card-header>
                        <ion-slides pager="true" [options]="slideOpts">
                            <ion-slide>
                                <img src="../../assets/images/wood-light-creative-space-68562.jpg" />
                            </ion-slide>
                            <ion-slide>
                                <img src="../../assets/images/crop-anonymous-financier-planning-budget-writing-numbers-in-4386339.jpg" />
                            </ion-slide>
                            <ion-slide>
                                <img src="../../assets/images/inspirational-quotes-written-on-a-planner-636237.jpg" />
                            </ion-slide>
                        </ion-slides>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-text>Your Go-to logs your beautiful moments, tracks your expenses and reminds you of your daily tasks</ion-text>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>